.checkout {
  display: flex;
  padding: 20px;
  background-color: rgba(203, 247, 146, 0.589);
  height: max-content;
  min-height: 90vh;
}
.checkout__ad {
  width: 100%;
  height: 20vh;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 2px solid darkgray;
}
