.checkoutProduct {
  display: flex;
  min-height: 40vh;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 20%;
  margin: 20px 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
  width: 100%;
}
.checkoutProduct__title {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0px;
}
.checkoutProduct__price > small {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__info > button {
  background: rgba(223, 46, 46, 0.3);
  border: 1px solid;
  margin: 20px 0px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 50%;
  height: 40px;
}
.checkoutProduct__info > button:hover {
  background-color: rgba(223, 46, 46, 0.8);
  transition: all 0.5s;
}
